<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sceh")
</head>
<body>
    @if (IsSectionDefined("topPanel"))
    {
    <div id="top_panel">
        @RenderSection("topPanel")
    </div>
    <div id="main_panel" class="has-top-panel">
        @RenderBody()
    </div>
    }
    else
    {
        <div id="main_panel">
            @RenderBody()
        </div>
    }

    @RenderSection("scripts", required: false)
</body>
</html>
